variable "aws_region" {
  default = "us-east-1"
}

variable "aws_profile" {
  default = "my_profile"
}

variable "domain" {
  default = "mydomain.com"
}

variable "subdomain" {
  default = "loadtest"
}
