{
  "loadtest_name": "my-gke-load-test-name",
  "loadtest_dns_domain": "loadtest.company.com",
  "gcp_project_id": "my-gcp-project-name",
  "gcp_region": "us-central1",
  "gcp_zone": "us-central1-c",
  "gcp_oauth_client_id": "abc123xyz.apps.googleusercontent.com",
  "gcp_oauth_client_secret": "foobarbaz",
  "gcp_iap_email": "user:me@company.com",
  "gcp_cluster_node_count": 3,
  "gcp_cluster_machine_type": "c2-standard-8",
  "looker_user": "me@company.com",
  "looker_pass": "abc_123_xyz"
}
