{
  "aws_profile": "my_profile_name",
  "aws_region": "us-east-1",
  "key": "ssh_key_name",
  "looker_db_identifier": [internal_db_name],
  "looker_lb_name": "my_looker_lb",
  "looker_nfs_id": [my_looker_nfs_name],
  "looker_nodes": [
    "ec2-12-345-678-99.compute-1.amazonaws.com"
  ],
  "looker_pass": "abc_123_xyz",
  "looker_url": "https://example.company.com",
  "looker_user": "me@company.com",
  "nfs_flag": 0,
  "gcp_project_id": "my-gcp-project-name",
  "gcp_region": "us-central1",
  "gcp_zone": "us-central1-c",
  "loadtest_cluster_instance_ips": [
    "12.34.567.89/32"
  ],
  "loadtest_cluster_lb_ip": "98.765.43.21",
  "loadtest_cluster_name": "gke-load-test",
  "loadtest_dns_domain": "looker-loadtest.company.com",
  "aws_access_key": "ASIAQABC123XZY",
  "aws_secret_access_key": "ABC123XYZ890",
  "aws_session_token": "areallylongstringoflettersandnumbers112358"
}
